@font-face {
    font-family: 'Magazine Grotesk';
    src: local('Magazine Grotesk'), url('../css/fonts/magazinegrotesque-regular.woff') format("woff");
    font-weight: 400;
}

@font-face {
    font-family: 'Magazine Grotesk';
    src: local('Magazine Grotesk'), url('../css/fonts/magazinegrotesque-bold.woff') format("woff");
    font-weight: 700;
}

@font-face {
    font-family: 'Blatant';
    src: local('Blatant'), url('../css/fonts/blatant.woff') format("woff");
    font-weight: 400;
}

@font-face {
    font-family: 'Blatant';
    src: local('Blatant'), url('../css/fonts/blatant-bold.woff') format("woff");
    font-weight: 700;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body[coin-name="Bitcoin"] { background-color: #FFEFDD; }
body[coin-name="Ethereum"] { background-color: #DDF1FF; }
body[coin-name="Xrp"] { background-color: #FFDDDD; }
body[coin-name="Usdcoin"] { background-color: #DDE7FF; }
body[coin-name="Tether"] { background-color: #DDFFF5; }
body[coin-name="Binance"] { background-color: #FFFCDD; }

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    color: hotpink;
    background-color: darkblue;
    margin: .5em;
    padding: 1em 1.5em;
    top: 50px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.btn:hover {
    background-color: hotpink;
    color: darkblue;
}

.main {
    margin: 72px;
    position: relative;
}

#back-button {
    width: 40px;
    user-select: none;
}

.name-desc {
    display: flex;
    flex-direction: row;
    margin: 40px 0 60px;
}

#desc {
    font-family: 'Magazine Grotesk', sans-serif;
    font-weight: 400;
}

#name {
    margin-right: 40px;
    font-size: 68px;
    font-family: 'Blatant', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.coin-info {
    margin-bottom: 40px;
}

#exchange-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#exchange-container h3 {
    background-color: white;
    padding: 12px 20px 12px;
    border-radius: 12px;
    font-size: 28px;
    font-family: 'Magazine Grotesk', sans-serif;
    font-weight: 700;
}

#exchange-rate {
    font-size: 48px;
    font-family: 'Blatant', sans-serif;
    font-weight: 400;
}

#exchange-currency {
    margin-top: 8px;
    font-size: 20px;
    font-family: 'Blatant', sans-serif;
}

.percent {
    font-family: 'Blatant', sans-serif;
    font-size: 36px;
}

.sentiment-result {
    width: 100%;
}

#sentiment-label {
    font-family: 'Magazine Grotesk', sans-serif;
    font-weight: 400;
}

.sentiment-container {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sentiment-container > * {
    width: 27%;
    max-width: 27%;
    border-radius: 24px;
    background-color: #3A3A3A;
    height: calc((100vw - 144px)*.27);
    margin-top: 28px;
}

.sentiment-container > * h2 {
    font-size: 60px;
    margin: 24px 0 0 24px;
    font-weight: 700;
    font-family: 'Blatant', sans-serif;
    font-style: normal;
}

.sentiment-container > * p {
    margin-left: 24px;
    font-family: 'Magazine Grotesk', sans-serif;
    font-weight: 400;
}

#back-text {
    font-weight: 700;
    z-index: -999;
    font-size: 440px;
    position: absolute;
    top: -100px;
    right: -140px;
    font-family: 'Blatant', sans-serif;
    user-select: none;
}

#back-text[coin-name="Bitcoin"] { color: #F9E7D3; }
#back-text[coin-name="Ethereum"] { color: #cddfec; }
#back-text[coin-name="Xrp"] { color: #f0d0d0; }
#back-text[coin-name="Usdcoin"] { color: #ccd5eb; }
#back-text[coin-name="Tether"] { color: #cae9e0; }
#back-text[coin-name="Binance"] { color: #eeebce; }

.divider {
    width: 80%;
    margin: 52px auto 52px;
    border-top: 1px solid black;
}

#ngram {
    height: 720px;
    background-color: white;
    border-radius: 24px;
}