{% extends 'base.html' %}
{% load static %}

{% block title %}CryptoCurrently Best App{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
{% endblock %}

{% block header %} {% endblock %}

{% block content %}

<div class="main">
    <p id = "back-text">BTC</p>
    <a href="/"><img id="back-button" src="{% static 'css/images/left-arrow.png' %}" alt="Back Button"></a>
    <section class = "coin-info">
        <div class = "name-desc">
            <h1 id="name">
                {{ coin_name }}
            </h1>
            <h4 id="desc">{{ coin_description }}</h4>
        </div>
        <div id="exchange-container">
            <div>
                <h2 id="exchange-rate">${{ value }}</h2>
                <h5 id="exchange-currency">BTC / USD</h5>
            </div>
            <h3>{{ rate_change }}12.67%</h3>
        </div>
    </section>
    <section class = "sentiment-result">
        <h3 id = "sentiment-label">Sentiment Analysis Results</h3>
        <div class = "sentiment-container">
            <div>
                <h2>{{ positive }}%</h2>
                <p>Positive Sentiments</p>
            </div>
            <div>
                <h2>{{ negative }}%</h2>
                <p>Negative Sentiments</p>
            </div>
            <div>
                <h2>{{ neutral }}%</h2>
                <p>Neutral Sentiments</p>
            </div>
        </div>
    </section>
    <section class = "sentiment-graphs">

    </section>
</div>
{% endblock %}