{% extends 'base.html' %}
{% load static %}

{% block title %}CryptoCurrently Best App{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
{% endblock %}

{% block header %} {% endblock %}

{% block content %}

<div class="main">
    <a href="/"> ← Back </a>
    <div class = "name-desc">
        <h1 id="name">
            {{ coin_name }}
        </h1>
        <h4 id="desc">{{ coin_description }}</h4>
    </div>
    <h3>This coin's current value is ${{ value }}</h3>
</div>
{% endblock %}