{% extends 'base.html' %}
{% load static %}

{% block title %}CryptoCurrently Best App{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
{% endblock %}

{% block header %} {% endblock %}

{% block content %}
<div class="container">
    <a href="/coin/bitcoin" class="btn">bitcoin</a>
    <a href="/coin/ethereum" class="btn">ethereum</a>
    <a href="/coin/cardano" class="btn">cardano</a>
    <a href="/coin/dogecoin" class="btn">dogecoin</a>
    <a href="/coin/stellar" class="btn">stellar</a>
    <a href="/coin/binance" class="btn">binance</a>
</div>
{% endblock %}